<%- include('../header') %>

<form method="post" action="/db/add">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" class="form-control">
    </div>
    <div class="form-group">
        <label for="mail">Mail</label>
        <input type="text" id="mail" name="mail" class="form-control">
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-primary">
    </div>
</form>

<%- include('../footer') %>